{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Resources": {
    "asgtvaritasg": {
      "Type": "AWS::AutoScaling::AutoScalingGroup",
      "Properties": {
        "AvailabilityZones": [
          "us-EAST-1d"
        ],
        "Cooldown": "300",
        "DesiredCapacity": "0",
        "HealthCheckGracePeriod": "300",
        "HealthCheckType": "EC2",
        "MaxSize": "0",
        "MinSize": "0",
        "VPCZoneIdentifier": [
          "subnet-3366e845"
        ],
        "LaunchConfigurationName": {
          "Ref": "lclc"
        },
        "MetricsCollection": [
          {
            "Metrics": [
              "GroupTerminatingInstances"
            ],
            "Granularity": "1Minute"
          },
          {
            "Metrics": [
              "GroupMinSize"
            ],
            "Granularity": "1Minute"
          },
          {
            "Metrics": [
              "GroupMaxSize"
            ],
            "Granularity": "1Minute"
          },
          {
            "Metrics": [
              "GroupPendingInstances"
            ],
            "Granularity": "1Minute"
          },
          {
            "Metrics": [
              "GroupInServiceInstances"
            ],
            "Granularity": "1Minute"
          },
          {
            "Metrics": [
              "GroupTotalInstances"
            ],
            "Granularity": "1Minute"
          },
          {
            "Metrics": [
              "GroupDesiredCapacity"
            ],
            "Granularity": "1Minute"
          }
        ],
        "TerminationPolicies": [
          "Default"
        ]
      }
    },
    "lclc": {
      "Type": "AWS::AutoScaling::LaunchConfiguration",
      "CreationPolicy": {
        "ResourceSignal": {
          "Timeout": "PT60M"
        }
      },
      "Metadata": {
        "AWS::CloudFormation::Authentication": {
          "S3AccessCreds": {
            "type": "S3",
            "buckets": [
              {
                "Ref": "bucketName"
              }
            ],
            "roleName": {
              "Ref": "tvaritRole"
            }
          }
        },
        "AWS::CloudFormation::Init": {
          "configSets": {
            "main": [
              "makeLogDir",
              "downloadWar",
              "startTomcat"
            ]
          },
          "makeLogDir": {
            "commands": {
              "01": {
                "command": [
                  "mkdir",
                  "/var/log/tomcat8"
                ]
              },
              "02": {
                "command": [
                  "chown",
                  "tomcat:tomcat",
                  "/var/log/tomcat8"
                ]
              }
            }
          },
          "downloadWar": {
            "files": {
              "/var/lib/tomcat8/webapps/tvarit.war": {
                "source": {
                  "Ref": "warFileUrl"
                },
                "owner": "tomcat",
                "group": "tomcat",
                "mode": "000755",
                "authentication": "S3AccessCreds"
              }
            }
          },
          "startTomcat": {
            "commands": {
              "03": {
                "command": [
                  "/etc/init.d/tomcat8",
                  "start"
                ]
              }
            }
          }
        }
      },
      "Properties": {
        "ImageId": "ami-0d61c466",
        "InstanceType": "t2.micro",
        "InstanceMonitoring": "true",
        "SecurityGroups": [
          {
            "Ref": "sgId"
          }
        ],
        "IamInstanceProfile": {
          "Ref": "tvaritInstanceProfile"
        },
        "BlockDeviceMappings": [
          {
            "DeviceName": "/dev/xvda",
            "Ebs": {
              "VolumeSize": 10
            }
          }
        ],
        "UserData": {
          "Fn::Base64": {
            "Fn::Join": [
              "",
              [
                "#!/bin/bash -v\n",
                "/opt/aws/bin/cfn-init -v -s ",
                {
                  "Ref": "AWS::StackName"
                },
                " --region us-east-1 ",
                " --role ",
                {
                  "Ref": "tvaritRole"
                },
                " -r ",
                " AppServerA ",
                " -c ",
                " main ",
                "\n",
                "/opt/aws/bin/cfn-signal -e $? ",
                "         --stack ",
                {
                  "Ref": "AWS::StackName"
                },
                "         --resource AppServerA ",
                "         --region ",
                {
                  "Ref": "AWS::Region"
                },
                "\n"
              ]
            ]
          }
        },
        "KeyName": {
          "Ref": "keyName"
        }
      }
    }
  },
  "Description": "",
  "Parameters": {
    "keyName": {
      "Type": "String",
      "Description": "The name of private key which can be used for SSH access."
    }
    "sgId": {
      "Type": "String",
      "Description": "The security group id to use for starting instance."
    },
    "tvaritRole": {
      "Type": "String",
      "Description": "The IAM role  that this instance will assume."
    },
    "bucketName": {
      "Type": "String",
      "Description": "The bucket where code, config and lambda will be stored."
    },
    "warFileUrl": {
      "Type": "String",
      "Description": "The url where the war file is saved."
    },
    "tvaritInstanceProfile": {
      "Type": "String",
      "Description": "The IAM role that will be used for all tvarit instances."
    }
  }
}



